.gradle
/build/
target/
out/


mvn-r‌​epo

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
**.idea
*.iws
**.iml
*.ipr
*.log

### NetBeans ###
nbproject/private/
build/
nbbuild/
nbdist/
.nb-gradle/